body
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.container
{
	margin: 0 auto;
	background-color: #efefef;
	max-width: 1200px;
}

.box
{
	background-color: #8ea86e;
	color: #fff;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	margin: 10px;
}

.logo
{
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

#mainHeader
{
	display: flex;
	flex-direction: row;
}


.logo
{
	order: -1;
	margin-left: 10px;
	width: 200px
}

#burgerCon
{
	margin-bottom: 20px;
	position: fixed;
	top: 85px;
	width: 100%;
	background-color: rgba(255,255,255, 0.8);

	/*off by default and toggled on with JS*/
	display: none;
}

.show-mobile-nav
{
	display: block !important;
}

#burgerCon li
{
	padding: 20px;
	border-top: thin solid #666;
	text-align: center;

}

#burgerCon a 
{
	text-decoration: none;
	color: #8ea86e;
}

/*tablet*/
@media screen and (min-width: 660px){
	#mainHeader
	{
		display: flex;
		flex-direction: row;
	}

	.box
	{
		flex: 1 1 auto;
	}

	.nav
	{
		flex: 0 1 600px;
	}

	.logo
	{
		order: -1; /*make logo from right go to left*/
		flex: 0 1 220px; /*change width of logo*/
	}

	/*Start working on the body*/
	#products
	{
		display: flex;
		flex-direction: row;
	}
} /*End*/

@media screen and (min-width: 1024px){
	


}
